<footer class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="Logo.svg" >
    </div>
    <nav class="footer-nav">
      <a (click)="scrollTo('home')">Home</a>
      <a (click)="scrollTo('services')">Services</a>
      <a (click)="scrollTo('case-studies')">Cases</a>
      <a (click)="scrollTo('about')">About</a>
      <a (click)="scrollTo('contact')">Contact Us</a>
    </nav>
  </div>
  <div class="copyright">
    © Copyright All Rights reserved.
  </div>
</footer>