<nav class="navbar" [class.scrolled]="scrolled">
  <div class="nav-container">
    <div class="left-container">
      <!-- Mobile: x.png si no hay scroll, hamburguesa si hay scroll -->
      <div class="logo mobile-logo" *ngIf="!scrolled">
        <img src="x.png" alt="Logo">
      </div>
      <div class="hamburger mobile-hamburger pt-4" *ngIf="scrolled" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <!-- Desktop: siempre Logo.svg -->
      <div class="logo desktop-logo">
        <img src="Logo.svg" alt="Logo">
      </div>
    </div>

    <div class="nav-menu" [class.active]="isMenuOpen">
      <ul class="nav-links">
        <li><a (click)="scrollTo('home')">Home</a></li>
        <li><a (click)="scrollTo('services')">Services</a></li>
        <li><a (click)="scrollTo('case-studies')">Cases</a></li>
        <li class="hide-on-mobile"><a (click)="scrollTo('about')">About</a></li>
        <li><a (click)="scrollTo('contact')">Contact us</a></li>
      </ul>
    </div>

    <button class="btn-get-started" (click)="scrollTo('contact')">Get Started</button>
  </div>
</nav>
