<section class="hero" [style.background-image]="'url(' + backgroundImage + ')'">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <div class="titles">
      <h1 class="pre-title">Premium</h1>
      <h1 class="title">Software Solutions</h1>
      <h1 class="title gray">
        <span class="enterprise-text-desktop">for Enterprise</span>
        <span class="enterprise-text-mobile"><span class="for-mobile">for</span><br>Enterprise</span>
        <span class="blinking-pipe">|</span>
      </h1>
    </div>
    <p class="subtitle">We design and build scalable SaaS platforms and AI-powered systems for growing startups.</p>

    <button class="cta-button" (click)="scrollTo('contact')">
      <span class="button-text">Start Your Project</span>
      <span class="button-icon" aria-hidden="true">
        <svg width="45" height="46" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="10" stroke="white" stroke-width="1.5" stroke-opacity="0.66" fill="none" />
          <path d="M8 12H16M16 12L12 8M16 12L12 16" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </button>
  </div>
</section>