<section class="section">
  <div class="container">
    <h2>Our <span class="values">Values</span></h2>

    <div class="values-grid web">
      <div>
        <img src="values/Costumer-Focused.svg" alt="Customer Focused">
        <span>Costumer-Focused</span>
      </div>
      <div>
        <img src="values/Data_Security.svg" alt="Data Security">
        <span>Data Security</span>
      </div>
      <div>
        <img src="values/Dedicated_Support.svg" alt="Dedicated Support">
        <span>Dedicated Support</span>
      </div>
      <div>
        <img src="values/Technical_Expertise.svg" alt="Technical Expertise">
        <span>Technical Expertise</span>
      </div>
      <div>
        <img src="values/Innovation-Driven.svg" alt="Innovation Driven">
        <span>Innovation-Driven</span>
      </div>
    </div>

    <div class="values-grid movil">
      <div>
        <img src="values/Innovation-Driven.svg" alt="Innovation Driven">
        <span>Innovation-Driven</span>
      </div>
      <div>
        <img src="values/Dedicated_Support.svg" alt="Dedicated Support">
        <span>Dedicated Support</span>
      </div>
      <div>
        <img src="values/Technical_Expertise.svg" alt="Technical Expertise">
        <span>Technical Expertise</span>
      </div>
      <div>
        <img src="values/Data_Security.svg" alt="Data Security">
        <span>Data Security</span>
      </div>
      <div>
        <img src="values/Costumer-Focused.svg" alt="Customer Focused">
        <span>Costumer-Focused</span>
      </div>
    </div>
  </div>
</section>