<section class="section">
  <div class="container">
    <h2>Our <span>Services</span></h2>
    <p class="subtitle">We provide end-to-end software development, from concept to deployment.</p>

    <!-- Grid de servicios (5 cuadros) -->
    <div class="card-services">
      <!-- Card 1 -->
      <div class="service-card">
        <div class="card-image">
          <!-- Aquí puedes colocar una imagen o icono -->
          <img class="material-icons" src="/services/Frontend_Engineering.png">
        </div>
        <h3 class="card-title">Frontend Engineering</h3>
        <p class="card-description">
          Building responsive, scalable, and performance-driven interfaces that power modern SaaS platforms
        </p>
        <ul class="card-features">
          <li><app-check-icon [size]="22"></app-check-icon> React / Next.js Aplications</li>
          <li><app-check-icon [size]="22"></app-check-icon> Scalable UI architecture</li>
          <li><app-check-icon [size]="22"></app-check-icon> Design system implementation</li>
          <li><app-check-icon [size]="22"></app-check-icon> Performance optimization</li>
        </ul>
      </div>

      <!-- Card 2 -->
      <div class="service-card">
        <div class="card-image">
          <img class="material-icons" src="/services/SaaS_backend_architecture.png">
        </div>
        <h3 class="card-title">SaaS Backend Architecture</h3>
        <p class="card-description">
          Designing scalable. high-perfomance backend systems built to support real-world growth and increasing demand.
        </p>
        <ul class="card-features">
          <li><app-check-icon [size]="22"></app-check-icon> Scalable microservices</li>
          <li><app-check-icon [size]="22"></app-check-icon> Spring Boot/Node</li>
          <li><app-check-icon [size]="22"></app-check-icon> API-first systems</li>
          <li><app-check-icon [size]="22"></app-check-icon> Performance optimization</li>
        </ul>
      </div>

      <!-- Card 3 -->
      <div class="service-card">
        <div class="card-image">
          <img class="material-icons" src="/services/API _integrations.png">
        </div>
        <h3 class="card-title">API & Integrations</h3>
        <p class="card-description">
          Connecting you SaaS with the tools and services your business depends on.
        </p>
        <ul class="card-features">
          <li><app-check-icon [size]="22"></app-check-icon> REST / GraphQL</li>
          <li><app-check-icon [size]="22"></app-check-icon> Third-party integrations</li>
          <li><app-check-icon [size]="22"></app-check-icon> Payment systems</li>
          <li><app-check-icon [size]="22"></app-check-icon> Data pipelines & automation</li>
        </ul>
      </div>

      <!-- Card 4 -->
      <div class="service-card">
        <div class="card-image">
          <img class="material-icons" src="/services/Cloud_Infrastructure.png">
        </div>
        <h3 class="card-title">Cloud & Infrastructure</h3>
        <p class="card-description">
          Building secure and scalable cloud environments that ensure uptime, reliability, and long-term efficiency
        </p>
        <ul class="card-features">
          <li><app-check-icon [size]="22"></app-check-icon> AWS/GCP architecture</li>
          <li><app-check-icon [size]="22"></app-check-icon> DevOps & CI/CD</li>
          <li><app-check-icon [size]="22"></app-check-icon> Cost optimization</li>
          <li><app-check-icon [size]="22"></app-check-icon> Scalability planning</li>
        </ul>
      </div>

      <!-- Card 5 -->
      <div class="service-card">
        <div class="card-image">
          <img class="material-icons" src="/services/Product_engineering.png">
        </div>
        <h3 class="card-title">MVP & Product Engineering</h3>
        <p class="card-description">
          From idea to production-ready Saas. We help founders move fast without compromising technical foundations.
        </p>
        <ul class="card-features">
          <li><app-check-icon [size]="22"></app-check-icon> Saas MVP development</li>
          <li><app-check-icon [size]="22"></app-check-icon> Technical roadmap planning</li>
          <li><app-check-icon [size]="22"></app-check-icon> Iterative product delivery</li>
          <li><app-check-icon [size]="22"></app-check-icon> Long-term engineering partnership</li>
        </ul>
      </div>
    </div>
  </div>
</section>